<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jstark.gamesdecider">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bg_game_decider_nobg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.aboutme.AboutMeActivity"
            android:theme="@style/AppThemeNAB"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.detailsgame.DetailGamesActivity"
            android:label="details"
            android:parentActivityName=".ui.homepage.HomeActivity"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".ui.homepage.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNAB">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>